---
title: Dynatrace Appmon Tile
owner: Principal Technical Program Manager?
---

<strong><%= modified_date %></strong>

This topic explains how to install Dynatrace Appmon for Pivotal Cloud Foundry&reg; (PCF) through a PCF service broker. Service brokers allow Cloud Foundry applications to bind to and consume the services from the App Manager UI or command line.

The Dynatrace Appmon Service Broker publishes the Dynatrace Appmon service as a tile in the Cloud Foundry Marketplace and allows users to create a service instance and bind it to their applications. The Broker is deployed as a Java Application on Cloud Foundry. 

<%= image_tag 'appmon-add-service-broker.png' %>

## <a id="install-with-opsman"></a> Install via Pivotal Ops Manager
	
1. Download the product file from [Pivotal Network](https://network.pivotal.io/).

1. Upload the product file to your Ops Manager installation.

1. Click **Add** next to the uploaded product description in the Ops Manager Available Products view to add this product to your staging area.
			
1. Click the newly added tile to review any configurable options.

1. Click **Apply Changes** to install the service.

## <a id="configure-tile"></a> Configuring the Dynatrace Appmon tile

1. Log in to Pivotal Ops Manager.

1. Click on **Import a Product** and import the Dynatrace Appmon tile.

1. Select the **Dynatrace Appmon** tile on the left panel under **Available Products**.

	<%= image_tag 'appmon-select-product.png' %>

1. Click **Add** on the Dynatrace Appmon tile.

1. Select the **Dynatrace Appmon** tile.

	<%= image_tag 'appmon-select-tile.png' %>

1. Configure the Availability Zone

	<%= image_tag 'appmon-assign-networks.png' %>

1. ??

	<%= image_tag 'appmon-service-broker.png' %>


1. In the **Dynamic Service Plans** section, click the **Add** button at upper right to add a service plan, and configure each plan as follows:
	<%= image_tag 'appmon-config-service-plan.png' %>

	1. Create a separate Service Plan for each Dynatrace Appmon Collector instance to be used.
	1. Configure the Dynatrace Appmon Collector server address and port.
	1. Add additional collectors as needed.

						
1. In the **Service Access** section, select the **Enable global access...** checkbox to publish your services to all users in the Service Marketplace.

<%= image_tag 'appmon-config-service-access.png' %>

1. Save configurations.

<%= image_tag 'appmon-select-tile.png' %>

1. Apply Changes.

1. Navigate to Apps Manager and click **Marketplace** in the left panel to open the Services Marketplace. You will see **Dynatrace Appmon** listed under **Marketplace** if the instance installation succeeded.
							
<%= image_tag 'appmon-in-marketplace.png' %>

Click **Dynatrace Appmon** to open the service pane.
			
<%= image_tag 'appmon-service-plan.png' %>

Bind the Dynatrace Appmon Service to an application.

<%= image_tag 'appmon-service-bind.png' %>

Check the application logs. Run `cf logs` to determine if the Dynatrace Appmon agent invoked properly.

<%= image_tag 'appmon-log1.png' %>

<%= image_tag 'appmon-log2.png' %>

## <a id="using-appmon"></a> Using Dynatrace Appmon with PCF

1. Log into Dynatrace Appmon and open the **System Monitoring** view under **Host Tiles** to view monitoring data.
	
<%= image_tag 'appmon-host-view.png' %>


	Figure 16.2: Dynatrace Java Process Health
	
<%= image_tag 'appmon-java-health.png' %>


	Figure 16.3: Dynatrace Pure Paths view
	

<%= image_tag 'appmon-pure-paths.png' %>


		Figure 16.4: Dynatrace Response Time hotspots
		
<%= image_tag 'appmon-response-hotspots.png' %>


	Figure 16.5: Dynatrace Web Request overview


<%= image_tag 'appmon-web-request.png' %>

	Figure 16.6: Dynatrace Transaction Flow
	
<%= image_tag 'appmon-transaction-flow.png' %>

	Figure 17: Dynatrace Database Dashlet
	
<%= image_tag 'appmon-db-dashlet.png' %>

## What if customer is using HTTP Proxy?

	If a customer is using http(s) proxy, it should not affect the Service Broker or the agent. The agents talk to the Dynatrace Appmon Collector over non-HTTP protocol and hence does not go over a http proxy.
	
## Application Security Groups?
	
	Open up application security group to allow outbound communication from the agents embedded with application instances to the remote Dynatrace servers. This would be required for runtime (use cf bind-running-security-group option). 


Also, refer to TK Known Issues

