---
title: Installing and Configuring Dynatrace AppMon for PCF
owner: Partners
---

<strong><%= modified_date %></strong>

This topic explains how to install Dynatrace Application Monitoring (AppMon) for Pivotal Cloud Foundry&reg; (PCF) through a PCF service broker. Service brokers allow Cloud Foundry applications to bind to and consume the services from the Apps Manager console or command line.

The Pivotal Cloud Foundry® (PCF) tile for Dynatrace AppMon installs the AppMon Service Broker as an application, registers it as a Service Broker on Cloud Foundry, and exposes its service plans on the Marketplace.

## <a id="install-with-opsman"></a> Install Dynatrace AppMon for PCF

Install AppMon through your Ops Manager Installation Dashboard.
	
1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-dynatrace-appmon).

2. On the Installation Dashboard, click **Import a Product** and navigate to the downloaded product file. **Dynatrace AppMon Service Broker** appears under **Available Products**.

	<%= image_tag 'appmon-select-product.png' %>

3. Select **Dynatrace AppMon Service Broker** and click **Add&raquo;** to add this product to your staging area.
			
	<%= image_tag 'appmon-add-service-broker.png' %>

4. Click the tile to open the configuration options. See [Configure the Dynatrace AppMon tile](#configure-tile) below for configuration information. 

5. After finishing and checking off all configuration sections, return to the **Installation Dashboard**. The tile should now show green, not orange.

6. Click **Apply changes** to install the service.

## <a id="configure-tile"></a> Configure the Dynatrace AppMon Tile

1. In Pivotal Ops Manager, click the **Dynatrace AppMon** tile to open its configuration options.

	<%= image_tag 'appmon-select-tile.png' %>

2. Assign the network and availability zones.

	<%= image_tag 'appmon-assign-networks.png' %>

4. In the **Dynamic Service Plans** section, click the **Add** button at upper right to add a service plan. Configure each plan as follows:
	<%= image_tag 'appmon-config-service-plan.png' %>

	1. Create a separate Service Plan for each Dynatrace AppMon Collector instance. These instances run remotely to collect data from the agent running on PCF and cache it for use by the Dynatrace servers.
	1. Configure the Dynatrace AppMon Collector server address and port.
	1. Add additional collectors as needed.

3. In the **Service Access** section, select the **Enable global access...** checkbox to publish your services to all users in the Service Marketplace.

	<%= image_tag 'appmon-config-service-access.png' %>

5. Return to the **Installation Dashboard**.

	<%= image_tag 'appmon-select-tile.png' %>

6. Click **Apply changes**.

## <a id="configure-tile"></a> Set Up Application Monitoring with the Dynatrace AppMon Service

Begin monitoring applications by binding a Dynatrace AppMon instance to the apps in Apps Manager.

1. [Navigate to Apps Manager](http://docs.pivotal.io/pivotalcf/customizing/console-login.html) and click **Marketplace** in the left panel to open the Services Marketplace. You should see **Dynatrace AppMon** listed under **Services**.
							
	<%= image_tag 'appmon-in-marketplace.png' %>

2. Click **Dynatrace AppMon** to open the service pane.
			
	<%= image_tag 'appmon-service-plan.png' %>

3. Select a service plan and click **Select this plan**.

4. Under **Configure Instance**, enter a name for the plan instance to create. Select a space for the instance to run in, and select an application to bind it to. This is an application you want AppMon to monitor.
<p class="note"><strong>Note</strong>: You can set up monitoring for other applications by editing the bindings for the AppMon service in the Space Dashboard.</p>

	<%= image_tag 'appmon-service-bind.png' %>

5. Click **Add** to create and bind the instance.

6. Check the application logs. Run `cf logs` from the cf CLI and look for a line starting with `dynaTrace Agent for Java Copyright...` to confirm that the Dynatrace AppMon agent is running.

	<%= image_tag 'appmon-log1.png' %>

	<%= image_tag 'appmon-log2.png' %>

7. Log into Dynatrace AppMon and open the **System Monitoring** view under **Host Tiles** to view monitoring data. See [AppMon Data Views](./index.html#views) for some example data views that the AppMon service offers.
	
<%= image_tag 'appmon-host-view.png' %>


