---
title: Installing and Configuring the Dynatrace Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

This topic explains how to install and configure the Dynatrace Service Broker tile for Pivotal Cloud Foundry (PCF). The topic also describes how to set up application monitoring for the Dynatrace Service and the Dynatrace AppMon Service by creating an instance of the service and binding it to an application.

## <a id="install"></a> Install the Dynatrace Service Broker

Install AppMon through your Ops Manager Installation Dashboard.

1. Download the product file from Pivotal Network.

1. Upload the product file on the Ops Manager Installation Dashboard.

1. Click **Add** next to the uploaded Dynatrace Service Broker tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added **Dynatrace Service Broker** tile to open the configuration options. See [Configure the Dynatrace Service Broker](#configure-tile) section below for configuration information.

1. Click **Save**.

## <a id="configure-tile"></a> Configure the Dynatrace Tile

This tile supports both Dynatrace SaaS/Managed and Dynatrace AppMon. Each product contains a relevant configuration setting. Multiple Dynatrace SaaS/Managed and multiple Dynatrace AppMon environments can be simultaneously supported.

1. In Pivotal Ops Manager, click the **Dynatrace ** tile to open its configuration options.

	<%= image_tag 'dynatrace-select-tile.png' %>

2. Assign the network and availability zones.

	<%= image_tag 'dynatrace-assign-networks.png' %>
    
3. In the **SaaS/Managed Plans** section, click the add button at the upper right to add a service plan. Configure each plan as follows:
	<%= image_tag 'dynatrace-config-service-plan.png' %>

	1. Enter a plan name. 
	1. Complete the **EnvironmentID** and **API token** fields using the `environmentId` and `token` values from your Dynatrace environment. You can find the **Environment ID** and the **API token** via the Deploy Dynatrace -> Set up PaaS integration section
		2. Note: Tenant token field is deprecated and provided for backwards compatability with legacy buildpacks. Please utilize API token.
	1. Repeat the steps above for each additional Dynatrace environment you require.

4. In the **AppMon Plans** section, click the **Add** button at upper right to add a service plan. Configure each plan as follows:
	<%= image_tag 'dynatrace-appmon-config-service-plan.png' %>

	1. Create a separate Service Plan for each Dynatrace AppMon Collector instance. These instances run remotely to collect data from the agent running on PCF and send it to the Dynatrace servers.
	1. Configure the Dynatrace AppMon Collector server address and port.
	1. Add additional collectors as needed.

3. In the **Service Access** section, select the **Enable global access...** checkbox to publish your services to all users in the Service Marketplace.

	<%= image_tag 'dynatrace-config-service-access.png' %>

5. Return to the **Installation Dashboard**.

	<%= image_tag 'dynatrace-select-tile.png' %>

6. Click **Apply changes**.

## <a id='dynatrace-config'></a> Set Up Application Monitoring with the Dynatrace SaaS/Managed Service

1. Bind the Dynatrace service to applications from the [Pivotal Apps Manager Console](http://docs.pivotal.io/pivotalcf/1-7/console/manage-apps.html#bind-services) or using the [cf CLI](http://docs.pivotal.io/pivotalcf/1-7/console/manage-apps.html#bind-services).

## <a id="appmon-config"></a> Set Up Application Monitoring with the Dynatrace AppMon Service

1. Bind the Dynatrace AppMon service to applications from the [Pivotal Apps Manager Console](http://docs.pivotal.io/pivotalcf/1-7/console/manage-apps.html#bind-services) or using the [cf CLI](http://docs.pivotal.io/pivotalcf/1-7/console/manage-apps.html#bind-services).





