---
title: Using Dynatrace Ruxit
owner: Partners
---

<strong><%= modified_date %></strong>

THIS TOPIC SHOULD DESCRIBE HOW TO NAVIGATE TO THE DYNATRACE RUXIT DASHBOARD AND HOW TO USE THE DYNATRACE RUXIT DASHBOARD.

## <a id="views"></a> Data Views

Dynatrace Ruxit offers multiple views for application and deployment data, including the following:

* Common metrics for a service, such as response time and failure rate
	<%= image_tag "common-metrics.png" %>

* Real time model of a request flow through your services
	<%= image_tag "real-time-model.png" %>

* Detailed response time contribution breakdown for service methods
	<%= image_tag "detailed-response-dashboard.png" %>

* Detailed waterfall performance breakdown for webpages
	<%= image_tag "waterfall-analytics.png" %>

* Java managed memory metrics
	<%= image_tag "java-managed-memory.png" %>

* Detailed CPU consumption break-down per process
	<%= image_tag "cpu-consumption.png " %>
