---
title: Using Dynatrace AppMon
owner: Partners
---

<strong><%= modified_date %></strong>

THIS TOPIC SHOULD DESCRIBE HOW TO NAVIGATE TO THE DYNATRACE APPMON DASHBOARD AND HOW TO USE THE DYNATRACE APPMON DASHBOARD.

## <a id="views"></a>  Dynatrace AppMon Client Data Views

Dynatrace AppMon offers multiple views of application data, including the following:

<%= image_tag 'appmon-host-view.png' %>

**Java Process Health**

<%= image_tag 'appmon-java-health.png' %>

**PurePaths** View

<%= image_tag 'appmon-pure-paths.png' %>

**Response Time Hotspots**

<%= image_tag 'appmon-response-hotspots.png' %>

**Web Request Performance**

<%= image_tag 'appmon-web-request.png' %>

**Transaction Flow**

<%= image_tag 'appmon-transaction-flow.png' %>

**Database Dashlet**

<%= image_tag 'appmon-db-dashlet.png' %>
