---
title: Installing and Configuring the Dynatrace Service Broker
owner: Partners
---

<strong><%= modified_date %></strong>

This topic explains how to install and configure the Dynatrace Service Broker tile for Pivotal Cloud Foundry (PCF). The topic also describes how to set up application monitoring for the Dynatrace SaaS/Managed Service and the Dynatrace AppMon Service by creating an instance of the service and binding it to an application.

## <a id="install"></a> Install the Dynatrace Service Broker Tile

Install the Dynatrace Service Broker tile through your Ops Manager Installation Dashboard by performing the following steps:

1. Download the product file from <a href="http://network.pivotal.io">Pivotal Network</a>.

1. Upload the product file on the Ops Manager Installation Dashboard.

1. Click **Add** next to the uploaded Dynatrace Service Broker tile in the Ops Manager **Available Products** view to add it to your staging area.

1. Click the newly added **Dynatrace Service Broker** tile to open the configuration options. See [Configure the Dynatrace Service Broker](#configure-tile) section below for configuration information.

1. Click **Save**.

## <a id="configure-tile"></a> Configure the Dynatrace Service Broker Tile

<p class="note"><strong>Note</strong>: The Dynatrace Service Broker tile supports both the Dynatrace SaaS/Managed Service and the Dynatrace AppMon Service. Each product contains a relevant configuration setting. Multiple Dynatrace SaaS/Managed and multiple Dynatrace AppMon environments can be simultaneously supported.</p>

Perform the following steps to configure the Dynatrace Service Broker tile:

1. In Pivotal Ops Manager, click the **Dynatrace Service Broker** tile to open its configuration options.

	<%= image_tag 'dynatrace-select-tile.png' %>

2. Click **Assign AZs and Networks** to configure the network and availability zones.

	<%= image_tag 'dynatrace-assign-networks.png' %>
    
3. Click **SaaS/Managed Plans**, and click the **Add** button at the upper right to add a service plan. 

	<%= image_tag 'dynatrace-config-service-plan.png' %>
Perform the following steps to create and configure each Service Plan:
	1. Enter a **Plan Name**. 
	1. Complete the **EnvironmentID** and **API token** fields using the `environmentId` and `token` values from your Dynatrace environment. You can retrieve your **Environment ID** and the **API token** by logging in to Dynatrace and navigating to the **Deploy Dynatrace -> Set up PaaS integration** section.
		<p class="note"><strong>Note</strong>: The <strong>Tenant token</strong> field exists for backwards compatibility with legacy buildpacks, but is deprecated. Use the <strong>API token</strong> field instead.</p>
	1. Click **Save**.
4. Click **AppMon Plans** and click the **Add** button at upper right to add a service plan. 
	<%= image_tag 'dynatrace-appmon-config-service-plan.png' %>
Dynatrace AppMon Collector instances run remotely to collect data from the agent running on PCF and send it to the Dynatrace servers. Perform the following steps to create and configure a Service Plan for each Dynatrace Appmon Collector instance:
	1. Enter a **Plan Name**. 
	1. Enter a **Collector description**.
	1. Enter a **Collector host** and **Collector port**
	1. Click **Save**.

3. In the **Service Access** section, select the **Enable global access...** checkboxes to publish your services to all users in the Marketplace.

	<%= image_tag 'dynatrace-config-service-access.png' %>

5. Return to the **Installation Dashboard**.

	<%= image_tag 'dynatrace-select-tile.png' %>

6. Click **Apply changes**.

## <a id='dynatrace-config'></a> Set Up Application Monitoring 

To set up application monitoring with the Dynatrace SaaS/Managed Service, bind the service to apps in [Apps Manager](http://docs.pivotal.io/pivotalcf/console/manage-apps.html#bind-services) or using the [cf CLI](https://docs.pivotal.io/pivotalcf/devguide/services/managing-services.html#bind). After binding the service to an app, see the [Using Dynatrace SaaS/Managed](using-dynatrace.html) topic for more information about how to use the service.

To set up application monitoring with the Dynatrace Appmon Service, bind the service to apps in [Apps Manager](http://docs.pivotal.io/pivotalcf/console/manage-apps.html#bind-services) or using the [cf CLI](https://docs.pivotal.io/pivotalcf/devguide/services/managing-services.html#bind). After binding the service to an app, see the [Using Dynatrace AppMon](using-dynatrace-appmon.html) topic for more information about how to use the service.




