---
title: Using Dynatrace AppMon
owner: Partners
---

<strong><%= modified_date %></strong>

## <a id="overview"></a> Overview
Dynatrace AppMon provides full lifecycle APM for Pivotal Cloud Foundry Apps.
Key features include the following:
<ul>
<li>In-depth view into all real user actions and every visit, across mobile, web, and any other channel</li>
<li>Gain a complete view of transactions across your entire application delivery chain</li>
<li>Gapless transactional continuity, from your mobile device or browser, all the way to the back-end and specific line of application code</li>
<li>Integrate seamlessly with popular CI/CD systems, making performance-driven development and delivery a continuous process</li>
<li>The out-of-the-box Database Health Dashboard highlights issues with stored procedures, missing indexes, slow running SQL queries, and more</li>
<li>Quickly Identify and resolve performance issues hiding in an application's code or coming from a third party</li>
<li>Benchmarks the design of your site across detailed elements (images, JavaScript, time to first paint, etc.)</li>
<li>Starting with code check-in on your developer's machine, automated quality checks prevent bad code from showing up later in the pipeline when it's more complicated to fix</li>
</ul>

See the Dynatrace website for more details about [Dynatrace AppMon](https://www.dynatrace.com/ "Dynatrace").

## <a id="views"></a>  Dynatrace AppMon Client Data Views

Dynatrace AppMon offers multiple views of application data, including the following:

<%= image_tag 'appmon-host-view.png' %>

**Java Process Health**

<%= image_tag 'appmon-java-health.png' %>

**PurePaths** View

<%= image_tag 'appmon-pure-paths.png' %>

**Response Time Hotspots**

<%= image_tag 'appmon-response-hotspots.png' %>

**Web Request Performance**

<%= image_tag 'appmon-web-request.png' %>

**Transaction Flow**

<%= image_tag 'appmon-transaction-flow.png' %>

**Database Dashlet**

<%= image_tag 'appmon-db-dashlet.png' %>

